<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1 class="article-title">
          <span class="badge"><%= article.claps %></span>
          <% if current_page?(articles_path) %>
            <%= link_to article.title, article_path(article) %>
          <% else %>
            <%= article.title %>
          <% end %>
          <small>
            by <%= article.user.firstname %> <%= article.user.lastname[0] %>.
          </small>
          <small class="pull-right">
            <%= time_ago_in_words(article.created_at) %>
             ago
          </small>
        </h1>
      </div>
    </div>
  </div>


  <div class="row">
    <% if current_page?(articles_path) %>
      <div class="col-md-12 sidebar-box">
        <%= article.content.html_safe %>
        <p class="read-more"><a href="<%= article_path(article) %>" class="button pull-right">Read More</a></p>
      </div>
    <% else %>
      <div class="col-md-12">
        <%= article.content.html_safe %>
      </div>

      <%= link_to "Clap <span class='badge'>#{article.claps}</span>".html_safe, clap_article_path(article), method: :put, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
