
<div class="stats container">
  <div class="row">
    <div class="col-md-12">
      Users <span class="badge"><%= @users.count %></span>
      Articles <span class="badge"><%= @article_count %></span>
      Lists <span class="badge"><%= @list_count %></span>
      Items <span class="badge"><%= @item_count %></span>
    </div>
  </div>
</div>

<h1>All Users</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %> |
      <%= user.firstname %>&nbsp;<%= user.lastname %> |
      Articles: <%= user.articles.length %> |
      Lists: <%= user.lists.length %> |
      Sign-ins: <%= user.sign_in_count %> |
      <span title="<%= user.last_sign_in_at || "N/A" %>">
        Last Sign-in:
        <%= user.last_sign_in_at ? time_ago_in_words(user.last_sign_in_at) : "N/A" %>
      </span> |
      <% unless user.is_admin %>
        <%= link_to 'Promote', promote_path(user) %>
      <% else %>
        <strong>ADMIN</strong>
      <% end %>
    </li>
  <% end %>
</ul>
